{% extends 'base.html.twig' %}

{% block title %}
	<title>Accueil</title>
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Bienvenu sur le site Etool</h1>
		<h2>Le premier gestionnaire d'outillage sortis par Clemessy</h2>
	</div>

	<div>
		<p>
			Ici, il y aura les derniers outils creer</p>
	</div>

	<div>
		<p>
			Ici, il y aura les derniers chantiers creer</p>
	</div>

	<div>
		<p>
			Ici, il y aura les derniers emprunts effectuer</p>
	</div>

	<div>
		<p>
			Ici, il y aura les derniers echange effectuer</p>
	</div>
{% endblock %}
