{# templates/header_footer/footer.html.twig #}
<footer class="footer mt-auto py-3 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<p>
					<a href="#">Conditions Générales d'Utilisation</a>
					|
					<a href="#">Politique de Confidentialité</a>
					|
					<a href="#">Mentions Légales</a>
				</p>
				<p>&copy;
					{{ "now"|date("Y") }}
					Etool. Tous droits réservés.</p>
			</div>
		</div>
	</div>
</footer>
